
// COLOR PALETTE

$clr1: #55626E;
$clr2: #D4EAFF;
$clr3: #0B76E0;
$clr4: #F5F5F5;
$clr5: #fff;
$clr6: #55A0EA;
$clr7: #DF0923;
$clr8: #9FA9B3;
$clr9: #000;
$clr10: #7B8997;


// LAYOUT BREAKPOINTS

$break-narrow: 767px;
$break-normal: 768px;
$break-wide: 1024px;


